In [1]:
# We can simply declare a string
'Hello World'

'Hello World'

In [2]:
# But we can't output multiple string this way:
'Hello World 1'
'Hello World 2'

'Hello World 2'

In [5]:
# So we can print statement to print a string like this
print('Hello Marikh')
print('Hello Khalil')
print('Hello Zeffyr')
print('Hello\n Shalia binti Rohan')

Hello Marikh
Hello Khalil
Hello Zeffyr
Hello
 Shalia binti Rohan

In [7]:
len('Hello Shalia binti Rohan')

24

In [8]:
# Assign s as a string
s = 'Hello Marikh'

In [9]:
s

'Hello Marikh'

In [10]:
# Print the object
print(s)

Hello Marikh

In [11]:
# Show first element (in this case a letter)
s[0]

'H'

In [12]:
s[1]

'e'

In [13]:
s[8]

'r'

In [14]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello Marikh'

In [15]:
s

'Hello Marikh'

In [16]:
s[:3]

'Hel'

In [17]:
s[:]

'Hello Marikh'

In [18]:
s[-1]

'h'

In [19]:
# Grab everything but the last letter
s[:-1]

'Hello Marik'

In [20]:
# Grab everything, but go in steps size of 1
s[::1]

'Hello Marikh'

In [21]:
s[::-1]

'hkiraM olleH'

In [22]:
# Let's try to change the first letter to 'x'. You can't because a string is immutable.
s[0] = 'x'

TypeError: 'str' object does not support item assignment

In [23]:
#So we can do concatenate strings instead.
s

'Hello Marikh'

In [24]:
# Concetenate string
s + '. You are a very handsome young boy'

'Hello Marikh. You are a very handsome young boy'

In [1]:
# We can reasssign s completely though!
s = s + '. You are a very handsome young boy'

NameError: name 's' is not defined

In [2]:
s = 'Hello Marikh'

In [3]:
s

'Hello Marikh'

In [4]:
s = s + '. You are a very handsome young boy'

In [5]:
s

'Hello Marikh. You are a very handsome young boy'

In [6]:
print(s)

Hello Marikh. You are a very handsome young boy

In [7]:
# We can use the multiplication symbol to create repetition!
letter = 'z'

In [8]:
letter*10

'zzzzzzzzzz'

In [9]:
s

'Hello Marikh. You are a very handsome young boy'

In [11]:
s.upper()

'HELLO MARIKH. YOU ARE A VERY HANDSOME YOUNG BOY'

In [12]:
s.lower()

'hello marikh. you are a very handsome young boy'

In [13]:
# Split a string by blank space (this is the default)
s.split()

['Hello', 'Marikh.', 'You', 'are', 'a', 'very', 'handsome', 'young', 'boy']

In [14]:
# Split by a specific element (doesn't include the element that was split on)
s.split('M')

['Hello ', 'arikh. You are a very handsome young boy']

In [2]:
## 04: LISTS

In [4]:
# Assign a list to a variable named my_list
my_list = [1,2,3]

In [5]:
my_list

[1, 2, 3]

In [6]:
my_list = ['A string',23,100.232,'o']

In [7]:
my_list

['A string', 23, 100.232, 'o']

In [8]:
my_list = [A string, 23,100.232,o]

SyntaxError: invalid syntax (3095238477.py, line 1)

In [9]:
my_list = ['A string', 23,100.232,o]

NameError: name 'o' is not defined

In [10]:
my_list = ['A string', 23,100.232,'o']

In [11]:
my_list

['A string', 23, 100.232, 'o']

In [12]:
len(my_list)

4

In [13]:
## INDEXING AND SLICING

In [14]:
# Grab element at index 0

In [15]:
my_list[0]

'A string'

In [17]:
ayunislist = ['rohan', 'andrea', 'hijaz', 'daniel']

In [18]:
ayunislist

['rohan', 'andrea', 'hijaz', 'daniel']

In [19]:
ayunislist[0]

'rohan'

In [20]:
# Grab index 1 and everything past it
ayunislist[1:]

['andrea', 'hijaz', 'daniel']

In [21]:
# Grab everything UP TO index 3
ayunislist[:3]

['rohan', 'andrea', 'hijaz']

In [24]:
# Concatenate ayunislist
ayunislist + ['namjoohyuk']

['rohan', 'andrea', 'hijaz', 'daniel', 'namjoohyuk']

In [25]:
ayunislist

['rohan', 'andrea', 'hijaz', 'daniel']

In [29]:
# to add new list permanently, must reassign
ayunislist = ayunislist + ['namjoohyuk']

In [30]:
ayunislist

['rohan', 'andrea', 'hijaz', 'daniel', 'namjoohyuk']

In [32]:
# make the list double
ayunislist * 2

['rohan',
 'andrea',
 'hijaz',
 'daniel',
 'namjoohyuk',
 'rohan',
 'andrea',
 'hijaz',
 'daniel',
 'namjoohyuk']

In [33]:
ayunislist

['rohan', 'andrea', 'hijaz', 'daniel', 'namjoohyuk']

In [34]:
## BASIC LIST METHODS

In [36]:
# Create a new list
myoppas = ['hyunbin','gongyoo','namjoohyuk','rain']

In [37]:
myoppas

['hyunbin', 'gongyoo', 'namjoohyuk', 'rain']

In [38]:
# Append
myoppas.append('taemin')

In [39]:
myoppas

['hyunbin', 'gongyoo', 'namjoohyuk', 'rain', 'taemin']

In [41]:
# pop off the first oppa from the list
myoppas.pop(0)

'hyunbin'

In [44]:
# see the result again
myoppas

['gongyoo', 'namjoohyuk', 'rain']

In [43]:
#assign the popped element, remember default popped index is -1
popped_myoppas = myoppas.pop()

In [45]:
popped_myoppas

'taemin'

In [46]:
#show remaining list
myoppas

['gongyoo', 'namjoohyuk', 'rain']

In [47]:
#list indexing will return an error if there is no element at that index. for an example, ayuni doesn't have 100 oppas so python won't recognise that.
myoppas[50]

IndexError: list index out of range

In [49]:
# we can use the SORT method or the REVERSE method to also effect your lists:
newoppas = ['sojisub','parkseojun','kanghaneul','parkhyungsik']

In [51]:
newoppas

['sojisub', 'parkseojun', 'kanghaneul', 'parkhyungsik']

In [52]:
# use reverse to reverse order (this is permanent)
newoppas.reverse()

In [53]:
newoppas

['parkhyungsik', 'kanghaneul', 'parkseojun', 'sojisub']

In [55]:
# use sort to sort the list in alphabetical order, but for numbers it will go ascending
newoppas.sort()

In [56]:
newoppas

['kanghaneul', 'parkhyungsik', 'parkseojun', 'sojisub']

In [57]:
# NESTING LISTS

In [61]:
#let's make three lists
oppas = ['namjoohyuk','parkseojoon','kanghaneul','hyunbin']
eonnies = ['yoonseri','ssunbiki','taeyeon','yoonmirae']
bffs = ['julie','haslinda','nadia','noria','hajar']

# make a list of lists to form a matrix
matrix = [oppas,eonnies,bffs]

In [63]:
#show
matrix

[['namjoohyuk', 'parkseojoon', 'kanghaneul', 'hyunbin'],
 ['yoonseri', 'ssunbiki', 'taeyeon', 'yoonmirae'],
 ['julie', 'haslinda', 'nadia', 'noria', 'hajar']]

In [64]:
# Grab first item in matrix object
matrix[0]

['namjoohyuk', 'parkseojoon', 'kanghaneul', 'hyunbin']

In [65]:
# grab first item of the first item in the matrix object
matrix[0][0]

'namjoohyuk'

In [66]:
# LIST COMPREHENSIONS

In [67]:
# Build a list comprehension by deconstructing a for loop within a []
first_col = [row[0] for row in matrix]

In [68]:
first_col

['namjoohyuk', 'yoonseri', 'julie']

In [69]:
## DICTIONARIES

In [70]:
# Make a dictionary with {} and : to signify a key and a value.
koreandict = {'sojisub':'40','hyunbin':'50'}

In [71]:
koreandict

{'sojisub': '40', 'hyunbin': '50'}

In [73]:
koreandict['sojisub']

'40'

In [74]:
koreandict = {'sojisub':40,'hyunbin':[12,23,33],'yoonmirae':['hana','dul','set']}

In [75]:
koreandict

{'sojisub': 40, 'hyunbin': [12, 23, 33], 'yoonmirae': ['hana', 'dul', 'set']}

In [76]:
# Let's call items from the dictionary
koreandict['yoonmirae']

['hana', 'dul', 'set']

In [77]:
# Call an index on that value.
koreandict['yoonmirae'][1]

'dul'

In [79]:
# Call methods on that value
koreandict['yoonmirae'][1].upper()

'DUL'

In [80]:
#We can affect the values of a key as well. 
koreandict['sojisub']

40

In [81]:
# Substract 23 from the value
koreandict['sojisub'] = koreandict['sojisub'] - 23

In [83]:
#check
koreandict['sojisub']

17

In [84]:
# Set the object equal to itself minus 123
koreandict['sojisub'] -= 123
koreandict['sojisub']

-106

In [87]:
# We can also create keys by assignment. For an example if we started off with an empty dictionry, we could continually add to it.

In [1]:
# Create a new dictionary
d = {}

In [2]:
# Create a new key through assignment
d['italian_surname'] = 'Verolino'

In [4]:
# Can do this with any object
d['occupation'] = 'volcanologist'

In [5]:
d

{'italian_surname': 'Verolino', 'occupation': 'volcanologist'}

In [6]:
## NESTING WITH DICTIONARIES

In [7]:
# Dictionary nested inside a dictionary inside a dictionary
d = {'key1':{'nestkey':{'subnestkey':'value'}}}

In [8]:
d

{'key1': {'nestkey': {'subnestkey': 'value'}}}

In [9]:
# Keep calling the keys
d['key1']['nestkey']['subnestkey']

'value'

In [1]:
## TUPLES are just like lists. But lists is mutable. Tuples are immutable.

In [2]:
# Create a tuple
t = (1,2,3)

In [4]:
# Check len just like a list
len(t)

3

In [12]:
# Can also mix object types
t = ('rijonghyuk', 6)
t

('rijonghyuk', 6)

In [13]:
# Use indexing just like we did in the lists
t[0]

'rijonghyuk'

In [14]:
# Slicing just like a list
t[-1]

6

In [9]:
# BASIC TUPLE METHODS

In [15]:
# Use .index to enter a value and return the index
t.index('rijonghyuk')

0

In [16]:
# Use .count to count the number of times a value appears
t.count('rijonghyuk')

1

In [17]:
# IMMUTABILITY

In [18]:
t[0]= 'rainjypswitchtome'

TypeError: 'tuple' object does not support item assignment

In [19]:
t.append('rainlovehyunbin')

AttributeError: 'tuple' object has no attribute 'append'

In [20]:
# When to use Tuples? When immutability is necessary. For data integiry.

In [23]:
# SETS: Unordered collection of unique elements. We can construct them by using the set() function.
x = set()

In [26]:
x

{1}

In [27]:
# We add to sets with the add() method
x.add(1)

In [31]:
#Show
x

{1}

In [32]:
# A set has only unique entries. What happens when we try to add something that is already in a set?
x.add(2)

In [34]:
# Show
x

{1, 2}

In [35]:
# Try to add the same element
x.add(2)

In [37]:
#Show
x

{1, 2}

In [39]:
# Try to add the same element
x.add(1)

In [41]:
# Show
x

{1, 2}

In [1]:
# Set is only concerned with unique elements
bffs = ('juliana', 'haslinda', 'hajar', 'noria', 'noria', 'noria')

In [2]:
bffs

('juliana', 'haslinda', 'hajar', 'noria', 'noria', 'noria')

In [4]:
# Cast a set to get unique values
set(bffs)

{'hajar', 'haslinda', 'juliana', 'noria'}

In [5]:
# Set is used for data integrity. Cannot have 3 husbands. Integrity.
menofdreams = ('namjoohyuk', 'hyunbin', 'chrishemsworth', 'barackobama', 'chrishemsworth', 'chrishemsworth')

In [6]:
menofdreams

('namjoohyuk',
 'hyunbin',
 'chrishemsworth',
 'barackobama',
 'chrishemsworth',
 'chrishemsworth')

In [7]:
set(menofdreams)

{'barackobama', 'chrishemsworth', 'hyunbin', 'namjoohyuk'}

In [10]:
## BOOLEANS
# Set object to be a Boolean
namjoohyuk = True

In [12]:
#Show
namjoohyuk

True

In [13]:
# Output is boolean
1 > 2

False

In [14]:
1 < 2

True

In [16]:
# We can use None as a placeholder for an object that we don't want to reassign yet:
b = None

In [17]:
print(b)

None

In [2]:
## FILES 
%%writefile chrishemsworth.txt
Chris is an actor.

SyntaxError: invalid syntax (3780142284.py, line 3)

In [3]:
%%writefile chrishemsworth.txt
Chris is an actor.

Writing chrishemsworth.txt

In [5]:
## Open the file, Ayuni
myfile = open('chrishemsworth.txt')

In [6]:
pwd

'/Users/nurfatimah.zainuddinkaligo.com/Desktop'

In [7]:
myfile = open('chrishemsworth.txt')

In [8]:
myfile

In [9]:
chrishemsworth.txt

NameError: name 'chrishemsworth' is not defined

In [10]:
myfile.read()

'Chris is an actor.\n'

In [11]:
myfile.read()

''

In [12]:
myfile.seek(0)

0

In [13]:
myfile.read()

'Chris is an actor.\n'

In [15]:
#close the file
myfile.close()

In [19]:
## WRITING TO A FILE 
# Add a second argument to the function, 'w' which stands for write.
# Passing 'w+' lets us read and write to the file
myfile = open('chrishemsworth.txt', 'w+')

In [20]:
myfile.write('He is an Australian actor.')

26

In [22]:
## Read the file
myfile.seek(0)
myfile.read()

'He is an Australian actor.'

In [23]:
myfile.close()

In [28]:
## APPENDING TO A FILE
myfile = open('chrishemsworth.txt','a+')
myfile.write('\nHe was Thor.')
myfile.write('\nHe has kids')

12

In [30]:
myfile.seek(0)
print(myfile.read())

He is an Australian actor.
He was Thor.
He was Thor.
He was Thor.
He has kids

In [17]:
%%writefile chrishemsworth.txt
Chris is an Australian hunk.

Overwriting chrishemsworth.txt

In [18]:
myfile = open('chrishemsworths.txt')

FileNotFoundError: [Errno 2] No such file or directory: 'chrishemsworths.txt'

In [19]:
myfile.read()

'Chris is an Australian hunk.\n'

In [20]:
myfile.read()

''

In [21]:
myfile.seek(0)

0

In [22]:
myfile.read()

'Chris is an Australian hunk.\n'

In [23]:
myfile.close()

In [24]:
myfile = open('chrishemsworth.txt','w+')

In [25]:
myfile

In [26]:
chrishemsworth.txt

NameError: name 'chrishemsworth' is not defined

In [27]:
# Write to the file
myfile.write('Chris is from Wollongong')

24

In [29]:
# Read the file
myfile.seek(0)
myfile.read()

'Chris is from Wollongong'

In [30]:
myfile.close()

In [1]:
# Appending with %%writefile
%%writefile -a chrishemsworth.txt

Jana is his wife
Luke is his son

SyntaxError: invalid syntax (2393131597.py, line 4)

In [2]:
%%writefile chrishemsworth.txt
Jana is his wife.
Luke is his son.

Overwriting chrishemsworth.txt

In [3]:
for line in open('chrishemsworth.txt'):
    print(line)

Jana is his wife.

Luke is his son.